/*
Theme Name: Finish theme
Theme URI: #
Author: Alex Bondaruk
Author URI: #
Description: It's finish theme on Softgroup course
Version: 1.0
*/

/*General option*/
* {
	padding: 0;
	margin: 0;
}
body {
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-width: 320px;
    position: relative;
    line-height: normal;
    overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: red; }

    body input:required:valid,
    body textarea:required:valid {
        color: black; 
    }
    ul, li {
        list-style: none;
    }
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

  /*Header-TOP*/
  .header_top {
   height: 45px;
   border-bottom: 1px solid #eee;
   color: #bababa;
}
.header_contacts, .header_socials {
 padding-top: 11px;
 padding-bottom: 11px;
}
.header_contacts span {
	padding: 0 25px 0 5px;
}
.header_socials .social_list, .socials, .autorization {
	display: inline-block;
}
.header_socials {
	float: right;
}
.header_socials .social_list:first-child {
	margin: 0;
}
.header_socials .social_list {
	margin-left: 12px;
}
.header_socials .social_list a {
	opacity: 0.24;
}
.header_socials .social_list a:hover {
	opacity: 0.5;
}
.header_socials .social_list img {
	height: 15px;
	width: 15px;
}
.header_socials .social_list:last-child::after {
	content: "•";
	margin-left: 20px;
}
.autorization {
	padding-left: 20px;
}
.autorization a {
	padding-left: 5px;
	color: #bababa; 
}
.autorization span {
	padding-left: 5px;
}
.autorization a:hover {
	color: #82d6cc;
    text-decoration: none;
}
/*Header-BOTTOM*/
.logo {
	margin: 37px 15px 43px 5px;
}
.menu {
	margin: 42px 15px 0;
}
.nav, .menu, .menu .menu_list, .nav_menu_search {
	display: inline-block;
}
.menu>.menu_list {
    position: relative;
    list-style: circle;
}
.menu .menu_list>a {
    display: block;
    position: relative;
    font-size: 11px;
    padding: 0px 18px 42px 0px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #6e6e6e;
    text-decoration: none;
}
.menu .menu_list:first-child > a::before {
	content: '';
	margin-right: 0px;
}
.menu .menu_list>a::before {
	content: '•';
	margin-right: 18px;
}
.menu .menu_list a:hover {
	color: #555;
}
.menu_list>.sub-menu, .menu_list .sub-menu li>.sub-menu {
    display: none;
    border-top-color: #1c1c1c;
    border-top-width: 0px;
    border-top-style: solid;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 12px;
    min-width: 190px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
}
.menu_list .sub-menu>li {
    background-color: #1f1f1f;
    white-space: nowrap;
    position: relative;
    list-style-type: none;
}
.menu_list .sub-menu li:first-child>a {
    border-top-width: 0px;
}
.menu_list .sub-menu li a {
    display: block;
    position: relative;
    color: #bebebe;
    padding: 10px 15px;
    border-top-width: 1px;
    border-top-style: solid;
    zoom: 1;
    font-weight: 600;
    list-style: none;
}
.menu_list .sub-menu li>.sub-menu {
    top: 0;
    left: 100%;
}
.menu_list:hover>.sub-menu, .menu_list .sub-menu>li:hover>.sub-menu {
    display: block;
}

.nav_menu_search i {
	color: #555;
	cursor: pointer;
}
/*SEARCH FORM*/
.search_form {
	background-color: #f5f5f5;
	position: absolute;
    z-index: 90;
    left: 0px;
    right: 0px;
    display: none;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.search_form form.search {
	margin: 0px 15px;
    padding-left: 60px;
    position: relative;
}
form.search .icon-search {
	margin: -15px 0px 0px 0px;
    position: absolute;
    display: block;
    font-size: 27px;
    width: 27px;
    height: 27px;
    line-height: 1;
    text-align: center;
    top: 50%;
    left: 5px;
    color: #a2a2a2;
}
form.search {
    margin: 0px 15px;
    padding-left: 60px;
    position: relative;
}
.search_wrap_hidden {
    display: none;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #f5f5f5;
}
.search_text input[type="text"] {
    color: #a2a2a2;
    width: 100%;
    margin: 0px;
    padding: 25px 0px;
    font-size: 27px;
    background-color: transparent;
    font-weight: bold;
    border: none;
    outline: none;
}
/*SLIDER*/
.after_slider {
    display: inline-block; 
    height: 485px;
    background-color: #ccc;
}
.slider_block {
	height: 485px;
	background-color: #ccc;
}
/*AFTER SLIDER*/
.after_slider_blocks {
	padding-top: 75px;
	padding-bottom: 45px;
	text-align: center;
}
.after_slider_img {
    text-align: center;
    margin-bottom: 45px;
}
.after_slider_text h3 {
	margin-bottom: 16px;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #292929;
}
.after_slider_text p {
	margin-bottom: 20px;
	color: #909090;
}
/*RISUS MAGNA*/
.risus_magna {
	background-color: #f5f5f5;
}
.risus_magna_wrap {
    margin-top: 40px;
    margin-bottom: 40px;
}
.risus_magna_text h2 {
	font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #414141;
}
.risus_magna_text p {
	margin-bottom: 20px;
	color: #909090;
}
.risus_magna_submit .risus_magna_link {
	display: inline-block;
	background-color: #555;
	color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 15px 23px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
}
/*COURSES*/
.gdlr-item-title-wrapper.pos-center {
    text-align: center;
}
.gdlr-item-title-wrapper.gdlr-item {
    margin-bottom: 40px;
}
.gdlr-item {
    margin: 0px 15px 20px;
    min-height: 1px;
}
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next {
    color: #ffffff;
}
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next {
    background-color: #72d5cd;
}
.gdlr-item-title-wrapper .gdlr-flex-prev {
    margin-right: 40px;
    padding: 15px 22px 15px 19px;
    overflow: hidden;
    border-radius: 50%;
}
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
}
.gdlr-item-title-wrapper .gdlr-item-title {
    color: #292929;
    border-color: #292929;
}
.gdlr-item-title-wrapper .gdlr-item-title {
    vertical-align: middle;
}
.gdlr-item-title-wrapper .gdlr-item-title {
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
}
.gdlr-item-title-wrapper .gdlr-item-title-link {
    margin-top: 10px;
    display: block;
    color: #72d5cd;
}
.course-item-wrapper {
    margin-bottom: 20px;
}
.gdlr-content .container .gdlr-lms-course-grid-wrapper, .gdlr-content .container .gdlr-lms-course-grid2-wrapper, .section-container.container .gdlr-lms-course-grid-wrapper, .section-container.container .gdlr-lms-course-grid2-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}
.slides li {
    width: 360px;
    float: left;
    display: block;
    height: 381px;
}
.gdlr-lms-course-thumbnail img {
    max-width: 100%;
    height: auto;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-content {
    padding: 26px 25px;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 20px;
    letter-spacing: 2px;
}
.gdlr-lms-course-title, .gdlr-lms-course-title a {
    color: #212121;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-price {
    float: left;
    margin: 0px;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-price span {
    display: inline-block;
    padding: 6px 18px;
    font-weight: bold;
    font-size: 14px;
    background-color: #72d5cd;
    color: #ffffff;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-info {
    float: right;
    margin: 5px 0px 0px;
    font-size: 13px;
    text-transform: uppercase;
}
.gdlr-lms-course-grid2 .gdlr-lms-course-info i {
    margin-right: 8px;
}




.slider {
	padding-top: 80px;
	padding-bottom: 60px;
	text-align: center;
}
.courses_title h3 {
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    color: #292929;
}
.courses_title .icon-angle-left, .courses_title .icon-angle-right {
    color: #fff;
    background-color: #72d5cd;
    padding: 15px 22px 15px 19px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
}
.slides li {
    display: inline-block;
}
.courses_slider_content img {
    width: 100%;
    height: 205px;
}
.courses_title .icon-angle-left {
	margin-right: 40px;
}
.courses_title .icon-angle-right {
	margin-left: 40px;
}
.courses_slider_content {
    background-color: #f5f5f5;
}
.courses_slider_bottom {
    padding-bottom: 40px;
    height: 90px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #72d5cd;
}
.courses_link a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #72d5cd;
}
.archive_content_block h3 a {
	display: inline-block;
	color: #212121;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0px 20px;
  letter-spacing: 2px;
}
.courses_slider_content {
    text-align: left;
}
.courses_slider_bottom, .courses_slider_content h3 {
    padding: 0 15px;
}
.courses_slider_bottom .price {
  display: inline-block;
  padding: 6px 18px;
  font-weight: bold;
  font-size: 14px;
  background-color: #70cbde;
  color: #fff;
}
.courses_slider_date {
    display: inline-block;
    float: right;
    color: #909090;
}
/*SEARCH COURSES*/
.search_courses {
    background-image: url(images/search-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 90px;
    text-align: center;
}
.search_courses_title .search_courses_h {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
}
.search_divider {
    width: 30px;
    margin: 25px auto 0;
    border-bottom: 1px solid #fff;
}
.search_courses_p {
    color: #b7b7b7;
    margin-top: 25px;
    margin-bottom: 70px;
    font-size: 14px;
    letter-spacing: 1px;
}
.course_search_wrapper .search_courses_form {
    height: 90px;
}
.gdlr_lms_combobox {
    display: inline-block;
    width: 100%;
    padding: 13px 5%;
    border: none;
    background-color: #fff;
}
.gdlr_lms_combobox .course_category {
    padding: 13px 5%;
    height: 44px;
    color: #acacac;
    width: 100%;
    font-size: 13px;
    border: none;
}
.gdlr_lms_combobox .course_category>option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.search_keywords {
    display: inline-block;
    width: 100%;
    padding: 13px 5%;
    border: none;
}
.gdlr_lms_button {
    width: 100%;
    padding: 13px 5%;
    color: #fff;
    background-color: #72d5cd;
    border: none;
}
/*Schools*/
.school_courses_wrap {
    margin-bottom: 45px;
}
.school_courses_wrap h3 {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 90px;
    color: #292929; 
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.school_instructor_aside {
    text-align: center;
}
.recent_news_link {
    display: inline-block;
    color: #82d6cc;
}
.recent_news_block {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #95e0da;
    background-color: #f5f5f5;
}
.recent_news_img {
    width: 60px;
    float: left;
    margin-right: 20px;
    background: #000000;
    position: relative;
}
.recent_news_img img {
    width: 60px;
}
.recent_news_text {
    min-height: 55px;
}
.recent_news_text p a {
    font-size: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #424242;
}
.recent_news_text span {
    color: #aeaeae;
}
.video_wrapper {

}
.school_courses h6 {
    color: #454545;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 18px;
    font-weight: 600;
}
.school_courses p {
    margin-bottom: 20px;
    color: #aeaeae;
}
.school_instructor {
    text-align: center;
    padding: 40px 20px 0px;
}
.school_instructor_backgroung {
    background-color: #f5f5f5;
    padding-top: 40px;
}
.school_instructor_img img {
    display: block;
    margin: 0px auto;
    width: 115px;
    height: 115px;
}
.school_instructor_img {
    width: 115px;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px auto 20px;
}
.school_courses_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #72d5cd;
}
.school_courses_job {
    color: #888888;
    font-size: 15px;
}
.school_courses_text {
    color: #a9a9a9;
}
/*QUOTES*/
.quotes {
    max-height: 300px;
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 85px;
    margin-bottom: 45px;
}
.quotes_title i {
    background-color: #72d5cd;
    color: #fff;
    margin-right: 40px;
    padding: 15px 22px 15px 19px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
}
.quotes_title i.icon-angle-right {
    margin-left: 40px;
}
.quotes_title h3, .popular_title h3 {
    color: #292929;
    font-size: 25px;
    margin-bottom: 0px;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
}
.quotes_divider {
    width: 30px;
    margin: 25px auto 0;
    border-bottom: 1px solid #000
}
.quote_text {
    margin: 0px auto 70px;
    max-width: 990px;
    text-align: left;
    padding-left: 100px;
    background: url(images/testimonial-quote.png) 0px 6px no-repeat;
}
.quote_text p {
    color: #9b9b9b;
    padding-bottom: 25px;
    padding-top: 30px;
}
.quote_text span {
    margin-top: 15px;
    font-size: 17px;
}
.quotes_name {
    color: #72d5cd;
}
.quotes_job {
    color: #4d4d4d;
}
/*POPULAR*/
.popular {
    padding-top: 70px;
    text-align: center;
}
.popular_text {
    margin-top: 25px;
    margin-bottom: 70px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #9b9b9b;
}
/*TWITTER*/
.twitter {
    height: 250px;
    margin-top: 70px;
    text-align: center;
    background-color: #72d5cd;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}
.twitter_title {
    margin-bottom: 30px;
}
.twitter_title>i {
    padding: 10px 16px 10px 14px;
    margin-right: 20px;
    background-color: #68b9b2;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}
.twitter_title h3 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    vertical-align: middle;
}
.twitter_title i.icon-angle-right {
    margin-left: 20px;
}
.twitter_slide_text {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
}
/*FOOTER*/
.footer {
    background-color: #262626;
    padding-top: 60px;
}
.about_footer {
    color: #ddd;
}
.footer h3, .footer .tag_cloud_block p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
}
.tag_cloud_block p {
    margin-top: 20px;
}
.footer .recent_news_block {
    margin-bottom: 15px;
    border-bottom: 1px solid;
    background-color: transparent;
    padding-bottom: 15px;

}
.footer .recent_news_img {
    float: left;
    margin-right: 15px;
}
.footer .recent_news_img img {
    max-width: 70px;
    max-height: 70px;
}
.footer .recent_news_text {
    overflow: hidden;
    margin-top: 5px;
}
.footer .recent_news_text a {
    color: #7f7f7f;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 2px;
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
}
.footer .recent_news_text a:hover {
   color: #cecece;
}
.footer .recent_news_text span {
    margin-right: 3px;
    color: #575757;
}
.footer .tag_cloud_block a {
    color:#fff;
    background-color: #72d5cd;
    font-size: 11px;
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 7px;
    margin-top: 7px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.footer .tag_cloud_block a:hover {
    transition: 0.3s;
    opacity: 0.8;
}
.footer .recent_post_list {
    margin-bottom: 10px;
    padding-left: 25px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #363636;
}
.footer .recent_post_list::before {
    content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    position: absolute;
    left: 10px;
    display: block;
    height: 20px;
    width: 20px;
    margin-top: -1px;
    color: #7f7f7f;
}
.footer .recent_post_link {
    color: #7f7f7f;
    text-decoration: none;
}
.footer .recent_post_link:hover {
    color: #cecece;
    text-decoration: none;
}
.footer .footer_bottom {
    padding: 15px 0;
    color: #828282;
    background-color: #0f0f0f;
    border-top: 1px solid #3f3f3f;
}
.footer .footer_bottom_left {
    margin: 0px 15px;
    float: left;
}
.footer .footer_bottom_right {
    margin: 0px 15px;
    float: right;
}
/*TEAM*/
.instructor_list {
    padding-bottom: 70px;
}

/*PAGE 404 */
.posts_block_wrap {
    padding: 70px 0px 60px;
    position: relative;
    text-align: center;
    background-image: url(http://wordpress-soft/wp-content/uploads/2017/05/page-title-background.jpg);
    background-repeat: repeat;
    background-position: center;
    z-index: 89;
}
.posts_block {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #000;
    opacity: 0.70;
}
.posts_block_text h1 {
    position: relative;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 20px;
}
.posts_block_text p {
    position: relative;
    color: #fff;
    font-size: 14px;
    margin: 15px 20px 0px;
}
.error_red_block{
    background-color: #d65938;
    color: #fff;
    text-align: center;
    padding: 50px 50px 60px;
    margin: 50px 0px 50px;
}
.page_not_found_icon i {
    font-size: 89px;
    margin-bottom: 20px;
}
.error_red_title {
    font-size: 45px;
    margin-bottom: 17px;
}
.error_red_text {
    font-size: 20px;
    margin-bottom: 35px;
}
.page_not_found_search {
    margin: 0 auto;
    max-width: 300px;
}
.error_search_form {
    position: relative;
    padding-right: 30px;
}
.error_search_form .search_text input[type="text"] {
    width: 100%;
    color: #d57f5c;
    background-color: #963a20;
    padding: 12px 15px;
    font-size: 15px;
    border: none;
}
#searchsubmit {
    background-image: url(images/light/icon-search.png);
    background-color: transparent;
    position: absolute;
    right: 45px;
    top: 50%;
    margin: -8px 0px 0px;
    width: 16px;
    height: 16px;
    border: none;
}
/*CONTACT PAGE*/
.contact_block {
    /* padding-top: 70px; */
}
.contact_block_left_title {
    color: #454545;
    font-size: 21px;
    font-family: "Raleway";
    line-height: 1.5;
    margin-bottom: 45px;
}
.contact_block_left_form p {
    margin-bottom: 20px;
    color: #a9a4a4;
}
.contact_block_left_form span {
    position: relative;
    display: block;
    padding-right: 46px;
    margin-top: 7px;
}
.contact_block_left_form span input, .contact_block_left_form span textarea {
    padding: 16px 19px;
    width: 100%;
    font-size: 13px;
    color: #b5b5b5;
    background-color: #f5f5f5;
    border: none;
}
.contact_block_left_form_submit {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 5px;
    outline: none;
    border:none;
    padding: 10px 20px;
    color: #fff;
    background-color: #72d5cd;
}
.sidebar_right_content, .sidebar_right_contact_block {
    margin-bottom: 60px;
}
.sidebar_right_title {
    color: #383838;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 25px;
    padding-right: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sidebar_right_contact p {
    margin-bottom: 20px;
}
.sidebar_right_contact i {
    margin-right: 10px;
    color: #444444;
    font-size: 16px;
}
.sidebar_right_social i {
 margin-right: 10px;
 color: #444;
 font-size: 28px;
}
.sidebar_right_contact_text, .sidebar_right_contact {
    color:#a4a4a4;
}
.contacts_img_block {
    background-image: url(images/photodune-4503767-skyline-l.jpg);
    padding-top: 100px;
    padding-bottom: 50px;
    background-position: center -20.2px;
    overflow: hidden;
    position: relative;
}
.contacts_img_blocks {
    opacity: 1;
    padding-top: 0px;
    margin-bottom: 0px;
}
.contacts_img_blocks_wrap {
    color: #929292;
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 30px 20px;
    position: relative;
}
.contacts_img_circle_icon {
    padding: 18px;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -30px;
    background-color: #e2714d;
    border-radius: 30px;
    color: #fff;
}
.contacts_img_circle_icon i {
    font-size: 22px;
    margin-right: 0;
}
.box_with_icon_title {
    color: #585858;
    font-size: 20px;
    margin-bottom: 20px;
}
.contacts_img_icon_text {
    margin-bottom: 20px;
}
/*ARCHIVE PAGE*/
.archive_content {
    padding-top: 70px;
}
.archive_content_block {
    margin-bottom: 60px;
}
.archive_post_thumbnail {
    position: relative;
    margin-bottom: 28px;
}
.archive_post_thumbnail img {
    width: 100%;
    height: auto;
}
.archive_post_banner {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    text-transform: uppercase;
    right: 0;
    background-color: #232323;
    color: #fff;
}
.archive_post_banner i {
    margin-right: 9px;
}
.archive_post_title a {
    color: #424242;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.archive_post_title a:hover {
    color: #66b0ab;
    text-decoration: none;
}
.archive_post_info {
    font-size: 14px;
    margin-bottom: 20px;
}
.archive_post_info_date, .archive_post_info_tag, .archive_post_info_comment {
    margin-bottom: 3px;
    color: #aeaeae;
}
.archive_post_info_date span, .archive_post_info_tag span, .archive_post_info_comment span {
    margin-right: 10px;
    color: #575757;
}
.archive_post_content p, .archive_post_info a {
    color: #929292;
}
.archive_post_info a:hover {
    text-decoration: none;
    color: #929292;
}
.read_more {
    margin: 25px 0px 0px;
    border-bottom: 3px solid #66b0ab;
    background-color: #72d5cd;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 15px 23px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.read_more:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}
/*Single*/
.tribe-events-schedule {
    margin: 1em 0 1.5em;
}
.tribe-events-schedule h2 {
    font-style: normal;
    font-weight: 700;
    color: #454545;
}
.single-tribe_events .tribe-events-event-image {
    text-align: left;
    margin-bottom: 1.25em;
}
#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
    line-height: 1.7;
    margin: 0 0 10px;
    color: #929292;
}
.tribe-events-content .wp-caption-text {
    line-height: 1.7;
    margin-top: 10px;
    color: #929292;
}
.tribe-events-cal-links {
    position: relative;
    text-align: left;
    margin-bottom: 1.75em;
    display: block;
    height: 47px;
    clear: both;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    position: absolute;
    background-color: #21759b;
    background-image: none;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 9px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 1.25em;
}
.tribe-events-gcal {
    left: 0;
}
.tribe-events-ical {
    left: 17%;
}
.single-tribe_events .tribe-events-event-meta {
    font-size: 14px;
}
.tribe-events-single-section {
    background: #fafafa;
    border: 1px solid #eee;
    margin: 30px 0;
}
body .tribe-events-back {
    margin-top: 30px;
}
.tribe-events-back {
    margin: 0 0 20px;
}
.tribe-events-back a {
    font-size: 15px;
    font-weight: 700;
    color: #72d5cd;
}
.tribe-events-single-event-title {
    font-size: 25px;
}
.tribe-events-meta-group dt {
    clear: left;
    font-weight: 700;
    line-height: 1;
    list-style: none;
    color: #929292;
}
.tribe-events-meta-group dd {
    float: none;
    line-height: 1.5;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    color: #929292;
}
dd.url a {
    color:#82d6cc ;
}