/*
Theme Name: Soft Group
Theme URI: #
Description: test theme
Author: varfolomejev
Author URI: #
Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
}
body.logged-in .navbar-fixed-top {
	top: 30px;
}